body {
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
a {
    color: #00B222 !important;
    text-decoration: none;
}
a:hover {
    color: #00B222 !important;
    text-decoration: underline;
}
.div-header {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #2199F9;
}

/* Downloaded from https://freefontsdownload.net/free-segoeuib-font-136420.htm */
@font-face {
    font-family: "Segoe UI";
    src: url("./fonts/segoeui.ttf");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: bold;
    src: url("./fonts/segoeuib.ttf");
}