body {
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
a {
    color: #00B222;
    text-decoration: none;
}
a:hover {
    color: #00B222;
    text-decoration: underline;
}
.div-header {
    color: #2199F9;
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px;
}