body {
    background: #f1f3f4;
}
.body_wrapper {
    padding: 0 8%;
    padding-bottom: 10px;
}
.liliana-lyric {
    width: 100%;
    height: 110px;
    margin: 10px 0;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    font-family: "Segoe UI";
}
.word-active {
    color: #41BDFF;
    transition: .2s;
}
.word-active:first-child {
    /* transition: 0s !important; */
}
.line {
    margin: 5px 0;
    padding: 0 10px;
}
.line-active {
    margin: 10px 0 !important;
    transition: 0.1s;
    /* ko dùng nữa vì chữ bị nhảy xuống dòng khi active line */
    /* font-size: 1.2em; */
    /* padding: 3px 7px; */
    /* border-radius: 13px; */
}
.div-res-big-active-line .line-active {
    font-size: 2.3em;
}
#div_result {
    overflow: auto;
    scroll-behavior: smooth;
    transition: 0.4s;
    padding-bottom: 35%;
    font-size: 25px;
    /* -webkit-mask-image: -webkit-linear-gradient(top,hsla(0,0%,100%,0),hsla(0,0%,100%,.6) 6%,#fff 12%,#fff 86%,hsla(0,0%,100%,.6) 94%,hsla(0,0%,100%,0)); */
}

/* Dark theme */
.div-res-dark {
    background-image: linear-gradient(#3f3f3f, #2f2f2f, #353535);
    color: #dfdfdf;
}
.div-res-dark .line-active {
    color: #fff;
    /* background: #4c4c4c; */
    font-weight: bold;
}

/* Light theme */
.div-res-light .line-active {
    color: #575757;
    /* background: #e8e8e8; */
    font-weight: bold;
}

/* AlbumBg theme */
.div-res-album-bg {
    color: #dfdfdf;
}
.div-res-album-bg .line-active {
    color: #fff;
    /* background: #4c4c4c69; */
    font-weight: bold;
}

.btn_sync_wrapper {
    position: absolute;
    top: 0px;
    right: 14px;
}
.btn_toggle_setting {
    display: inline-block;
    color: #2196F3;
    font-size: 23px;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
}
.btn_sync_up, .btn_sync_down {
    color: #2196F3;
    font-size: 32px !important;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    top: 5px;
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.btn_align {
    color: #2196F3;
    font-size: 15px !important;
    transition: 0.2s;
    cursor: pointer;
}
.btn_align:hover, .btn_sync_up:hover, .btn_sync_down:hover,
.btn_toggle_setting:hover, .btn_theme:hover {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#btn_reset_audio {
    color: #41bdff;
    cursor: pointer;
    transition: 0.3s;
    float: right;
}
#btn_reset_audio:hover {
    color: #2196F3
}
.btn_theme {
    font-size: 15px !important;
    transition: 0.2s;
    cursor: pointer;
    text-shadow: -1px -1px 0 #2199F9, 1px -1px 0 #2199F9, -1px 1px 0 #2199F9, 1px 1px 0 #2199F9;
    position: relative;
    top: -4px;
}
.btn_theme_dark {
    color: #363636;
}
.btn_theme_light {
    color: #ddd;
}
.btn_theme_album_bg {
    /* border: 1px solid #2199F9; */
    transition: 0.2s;
    border-radius: 4px;
}
.btn_theme_album_bg:hover {
    border: 1px solid #fff;
}
.lyric_normal {
    border: 1px solid #bababa;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
.lyric_fullscreen {
    position: fixed !important;
    top: 54px !important;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    margin: 0 !important;
    font-size: 30px !important;
    padding: 0 4%;
    box-sizing: border-box;
}
.audio_normal {
    width: 100%;
}
.audio_normal audio {
    width: 100%;
    margin: 10px 0;
}
.audio_fullscreen {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    margin: 0 !important;
    height: 54px;
}
.audio_fullscreen audio {
    width: 100%;
}
.overflow-hidden {
    overflow: hidden;
}

.bg-image {
	/* The image used */
	/* background-image: url("background.jpg"); */

	/* Add the blur effect */
	filter: blur(4px);
	-webkit-filter: blur(4px);

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-image-fullscreen {
    position: fixed !important;
    top: 54px !important;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Position text in the middle of the page/image */
.div-res-album-bg {
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.div-res-dark .curr-word {
    font-weight: bold;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.div-res-light .curr-word {
    font-weight: bold;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.div-res-album-bg .curr-word {
    font-weight: bold;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
/* style này ở dưới bọn .curr-word ở trên, do đó sẽ ghi đè text-shadow */
.word-appear .curr-word {
    text-shadow: none;
}
.setting_seperator {
    color: #737373;
    font-weight: bold;
    position: relative;
    top: -3px;
    font-size: 18px;
    font-style: normal;
}
.song_title, .song_artist {
    color: #2199F9;
    font-size: 27px;
    display: inline-block;
}
.song_album {
    font-size: 18px;
    margin-bottom: 10px;
    color: #03a9f4;
}
.all-song-label {
    color: #2199F9;
    font-size: 20px;
    margin: 15px 0 5px 0;
}
.all-song-value {
    height: 300px;
    overflow-y: auto;
    /* border: 1px solid #2199F9; */
    /* border-radius: 4px; */
    padding: 10px 0;
    resize: vertical;
    /* scroll-behavior: smooth; */
}
.table_striped {
    border-collapse: collapse;
}
.table_striped>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
/* .table_striped>tr {
    border-top: 1px solid #ddd;
} */
.table_striped>tr>td {
    padding: 6px;
}
.table_striped>tr>td:first-child {
    text-align: right;
}
.table_striped>tr>th {
    padding: 10px 5px;
    text-align: left;
    color: #ffffff;
    background: #00b222;
}
#lyric_playground {
    position: relative;
    height: calc(100% - 75px);  /*75px = height của tag audio */
}
.song-input-title {
    margin: 10px 0 5px 0;
}
.song-input {
    margin: 5px 0 10px 0;
}
.setting_bottom {
    position: absolute;
    bottom: 5px;
    right: 15px;
    z-index: 10;
}
.setbot_fs {
    position: fixed !important;
    opacity: 0.4;
}
.setbot_fs:hover {
    opacity: 1;
}
.left_normal {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 11;
    text-align: center;
}
.left_title {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
    margin-top: 10px;
    color: #fff;
    text-shadow: -1px -1px 0 #2199F9, 1px -1px 0 #2199F9, -1px 1px 0 #2199F9, 1px 1px 0 #2199F9;
}
.left_artist {
    font-size: 18px;
    margin: 5px 0;
    color: #cdcdcd;
}
.left_album {
    font-size: 18px;
    margin: 5px 0;
    color: #cdcdcd;
}
.show-left-normal {
    padding-left: 350px;
}
.show-left-fs {
    padding-left: 400px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.spinning {
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
.paused-spin {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.left_fs {
    position: fixed;
    top: 104px;
    left: 50px;
    z-index: 11;
    text-align: center;
}
.left_normal .left_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.left_normal .left_title, .left_normal .left_artist, .left_normal .left_album {
    width: 250px;   /* equal to left_img's width */
}
.left_fs .left_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.left_fs .left_title, .left_fs .left_artist, .left_fs .left_album {
    width: 300px;   /* equal to left_img's width */
}
/* .word-appear {
    padding-bottom: 40% !important;
} */
.word-appear .not-pass-word {
    /* display: none; */
    opacity: 0;
    transition: opacity 0.5s linear;    /* 0.5s hay 10s nó vẫn transition như nhau, ko hiểu tại sao! */
}

.select_mp3_label {
    cursor: pointer;
    display: inline-block;
}

/* Chú ý: các style sau PHẢI được định nghĩa ở trên rồi (áp dụng
cho màn hình width > 700px) */
@media only screen and (max-width: 700px) {
    .body_wrapper {
        padding: 0;
        padding-bottom: 10px;
    }
    .lyric_fullscreen {
        position: fixed !important;
        top: 54px !important;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        margin: 0 !important;
        font-size: 1.2em;
        padding: 0 4%;
        box-sizing: border-box;
    }
    #div_left_wrapper {
        display: none;
    }
    .show-left-normal {
        padding-left: 0;
    }
    .show-left-fs {
        padding-left: 0;
    }
}

@media only screen and (max-width: 850px) {
    .body_wrapper {
        padding: 0 4%;
        padding-bottom: 10px;
    }
}
